* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:rgb(132, 184, 219);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
header {
    background: linear-gradient(to right,#01e1ff, #0400ff,#ae00ff);
    background-repeat: no-repeat;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100px;
    width: 100%;
}

.Logo {
    position:fixed;
    left: 30px;
    width: 100px;
    height: 50px;
}

.TextMenu{
    color: white;
    border: 1px solid #fff;
    text-decoration: none;
    padding : 10px;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    height: 80vh;
    width: 100vw;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.Image.Voyage {
    width: 100%;
    height: 90vh;
    z-index: 1;
}

.Texte{
    color: black;
    text-align: center;
    position: relative;
    top:100px;
    z-index: 5;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.ParentCartes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
}

.Cartes{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background: linear-gradient(to right,#01e1ff, #0400ff,#ae00ff);;
    border-radius: 5%;
    margin: 20px;
    padding:10px;
}

.ImageCartes{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
}

.DescriptifCartes {
    background: rgba(253, 253, 253, 0.342);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    margin: 10px;
    padding:25px 20px;
    height: 100px;
    width: 300px;
}

.TextDescriptifCartes{
    color:#fff;
    height: 100px;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Image.Japon1{
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
}

.Image.MapJapon{
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
}

.Image.Japon2{
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
}

.Image.Tokyo{
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
}

.Image.Japon{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

footer{
    background: linear-gradient(to right,#01e1ff, #0400ff,#ae00ff);
    background-repeat: no-repeat;
    z-index:2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    bottom: 0;
}

.TextFooter{
    color: #fff;
}